{% block content %}

<!doctype html>
<html>
    <head>
        <title>User Signup</title>
        <!--<link href="style.css" type="text/css" rel="stylesheet"> -->
    </head>

    <body>
        <h1>Signup</h1>
        <form action="/confirmation" method="post">
            <label>
                Username
                <input type="text" name="username" value="{{username}}"/>
            </label>&nbsp;{{user_error}}
            <br>
            <label>
                Password
                <input type="password" name="password"/>
            </label>&nbsp;{{password_error}}
            <br>
            <label>
                Verify Password
                <input type="password" name="confpassword"/>
            </label>&nbsp;{{verify_error}}
            <br>
            <label>
                Email (optional)
                <input type="text" name="email" value = "{{email}}"/>
            </label>&nbsp;{{email_error}}
            <br>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>
{% endblock %}